.App {
  /* text-align: center; */
  display: flex;
  /* justify-content: space-between; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#tickets {
  width: 10%;
  background-color: rgba(255, 255, 255, 1) !important;
  display: flex;
  flex-direction: column;

  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  align-items: center;
  list-style-position: inside;
}

#classify {
  width: 30%;
  background-color: rgba(247, 247, 247, 1) !important;
  height: 100%;
}

#conversation {
  background-color: rgba(255, 255, 255, 1) !important;
  height: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(247, 247, 247, 1);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;

}

#activeTask {
  background-color: black;
}
